{% extends 'base.html.twig' %}

{% block title %}Messages
{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Jacob's Test</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{path('admin')}}">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('messages')}}">Messages</a>
					</li>

				</ul>

			</div>
		</div>
	</nav>

	<div class="container">

		<div class="py-5 text-center">
			<img class="d-block mx-auto mb-4" src="/images/envelope.svg" alt="" width="72" height="57">
			<h2>Messages</h2>
		</div>

		<div class="row">
			<div class="col-12">
				<form action="" method="post">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Message</th>
								<th>Message crée le</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
						{% for demandeClient in demandeClients %}
							<tr>
								<td class="">{{ demandeClient.message}}</td>
								<td class="">{{ demandeClient.createdAt|date}}</td>
								<td>
									{% if demandeClient.messageRead == true %}
										<a href="{{ path('message_lu', {'id':demandeClient.id}) }}" class="btn btn-secondary">Lu</a>
									{% else %}
										<a href="{{ path('message_lu', {'id':demandeClient.id}) }}" class="btn btn-primary">Traiter</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>{% endblock %}
